version: '3.8'

services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - GIN_MODE=release
      - GO_RUN_LOG=/app/logs/access.log
    depends_on:
      - mysql
    volumes:
      - ./logs:/app/logs
    networks:
      - lab-network

networks:
  lab-network:
    driver: bridge